*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* overall body */
body {
	margin:0;
	padding:20px;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	min-width:1240px;
	padding-right:200px;
	background:#fcfcfc;

}

h1 {
	margin-top:0;
	margin-bottom:20px;
	color: #222222;
	font-weight: normal;
}


/* main ID */

#content, #realcontent {
	position:relative;
}

#grid {
	position:absolute;
	top:0;
	left:220px;
	width:1000px;
	height: 1050px;
}

#datagrid {
	position:absolute;
	top:0;
	left:220px;
	z-index:10;
	opacity:0.5;
	width:1000px;
	height: 1050px;
}

#drag {
	width:200px;
	background:rgba(7, 155, 203, 0.9);
	height:100%;
	padding:20px;
	position:fixed;
	top:0;
	right:0;
	z-index:100;

}

/*	=====
	GRID
	===== */
.grid {
	float:left;
}
.col {
	width:20px;
	height:20px;
	border:1px solid lightgrey;
	background:white;
	font-size:9px;
}

.row {
	clear:both;
}


div.row:last-child .col {
	border-bottom:2px solid lightgrey;
}
div.row:first-child .col {
	border-top:2px solid lightgrey;
}

.row .col:last-child {
	border-right:2px solid lightgrey;
}
.row .col:first-child {
	border-left:2px solid lightgrey;
}

.col.invalidate {
	background:red;
}

#datagrid .col {
	border:none;
}
/* polution */
#datagrid .col.dirty {
	background:brown;
}

/* services */
#datagrid .col.fire {
	background:red;
}
#datagrid .col.police {
	background:blue;
}
#datagrid .col.health {
	background:green;
}

/*basic coverage */
#datagrid .col.aura {
	background:lightgreen;
}

.mousemove #datagrid{
	z-index:50;
}

/*	=====
	UNITS
	===== */
.unit.supergreen {
	border-color:green !important;
}

.unit.todeletion {
	border-color:grey !important;

}

.unit {
	font-size:10px;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
	display: block;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: white;
	z-index:20;
}

.mousemove * {
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
	cursor: grabbing !important;
}

.todeletion * {
	cursor: -moz-no-drop !important;
	cursor: -webkit-no-drop !important;
	cursor: no-drop !important;
}

.unit.active {
	z-index:100;
}

#drag .unit {
	width:100px;
	height:100px;
	margin:5px;
	text-align:center;



}

/*	=====
	UNIT LIST
	===== */
#drag ul {
	margin :0;
	padding:0;
}

#drag h3 {
	font-size:15px;
	margin:0;
	cursor:pointer;
}

#drag li {
	list-style-type:none;
	clear:both;
}

#drag li li {
	min-height:40px;
	text-align:justify;
	line-height:0;
}

#drag li li:after {
	content: '\A0';
	display: inline-block;
	width:100%;
	line-height:0;
}
#drag li li div {
	display: inline-block;
	vertical-align: middle;

}

#drag li li div.desc {
	font-size:11px;

}






/*	=====
	UTILITIES
	===== */
.cleaner {
	clear:both;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.debug, .debug li {
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:15px;
}
